@media (max-width : 1280px) {
    .reg-auth{
        display: none;
    }

    .lang{
        margin-left: 300px;
        margin-right: 300px;
    }
    #menu-toggle{
        top: 20px;
    }
    .reg-res{
        display: block;
    }
    .auth-res{
        display: block;
    }
    .rate{
        display: block;
    }
    .man{
        display: block;
        margin: auto;
        margin-bottom: 50px;
    }
    .text{
        margin: auto;
    }
}


@media (max-width : 1050px) {
    .t-1{
        font-size: 40px;
        margin-left: 100px;
    }
    .t-2{
        width: 200px;
        margin-top: 5px;
        margin-left: 10px;
    }
    .info{
        margin-left: 5px;
    }
    .lang{
        margin-right: 50px;
        margin-left: 50px;
    }
    .logo{
        margin-left: 10px;
    }
    footer{
        height: 80px;
    }
    .text{
        width: 800px;
        height: 500px;
    }
 
    #registrationForm{
        height: 100vh;
    }

    .registration{
        max-width: 100%;
        width: 600px;
        display: grid;
        grid-template-columns: auto auto;
    }

    #few1{
        margin: auto;
        max-width: 100%;
        margin-left: 160px;
        margin-top: 10px;
    }
    #few{
        margin: auto;
        max-width: 100%;
        float: left;
        margin-left: 160px;
        margin-top: -30px;
    }
    input[type="text"],
    input[type="password"],
    input[type="tel"],
    input[type="email"]{
        padding: 5px;
    }
}

@media (max-width : 780px){
    .slide{
        margin-right: 100px;
    }
    .text{
        width: 500px;
        height: 750px;
    }
    .t-1{
        font-size: 40px;
        margin-left: 10px;
    }
    .t-2{
        width: 200px;
        margin-top: -20px;
        margin-left: 10px;
    }
    #few1{
        margin: auto;
        max-width: 100%;
        margin-left: 100px;
        margin-top: 10px;
    }
    #few{
        margin: auto;
        max-width: 100%;
        float: left;
        margin-left: 100px;
        margin-top: -30px;
    }
}
@media (max-width: 550px) {
    .text{
        width: 350px;
        height: auto;
    }
    #few1{
        margin: auto;
        max-width: 100%;
        margin-left: 60px;
        margin-top: 10px;
    }
    #few{
        margin: auto;
        max-width: 100%;
        float: left;
        margin-left: 60px;
        margin-top: -30px;
    }
    .registration{
        height: 100%;
        margin-bottom: 10px;
    }
    .auth{
        height: 250px;
        max-width: 100%;
        width: 300px;
    }
}

