/* Header */

a{
    text-decoration: none;
}

.header{
    background-image: url("/slider.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    max-width: 100%;
    height: 100vh;
}

.list{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* Language */

.lang{
    width: 60px;
    margin-right: 10px;
    margin-top: 35px;
    height: 60px;
    filter: grayscale(0);
}

.lang:hover{
    filter: grayscale(100);
}

/* Logo */
.logo{
    width: 80px;
    height: auto;
    margin-top: 30px;
}

/* Reg-Auth */

.reg-auth{
    color: white;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    font-size: 1.75rem;
    height: 100px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.reg{
    color: white;
}

.reg:hover{
    color: #702323;
    transition: 1s;
}

.auth{
    color: white;
    border: 2px solid #702323;
    border-radius: 25px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.auth:hover{
    border: 2px solid white;
    transition: 1s;
    color: #702323;
}

/* Hamburger Menu */


.hamburger-button {
    background-color: transparent;
    padding: 15px;
    cursor: pointer;
    border: 0px solid white;
    margin-top: 35px;
 }


/* info */

.info{
    margin-left: 180px;
    margin-top: 120px;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}

.t-1{
    color: white;
    font-size: 50px;
}

.t-2{
    border: 1px solid white;
    color: #DC3473;
    background-color: white;
    border-radius: 50px;
    width: 350px;
    height: 50px;
    text-align: center;
    margin-top: -35px;
    padding-top: 20px;
}

.t-2:hover{
    box-shadow: 5px 5px 10px 0px;
    transition: 1s;
    color: rgb(255, 255, 255);
    border-color: #DC3473;
    background-color: #DC3473;
}

/* Side Bar */

.sidebar {
    position: fixed;
    right: 0; 
    top: 0; 
    width: 100%;
    height: 100vh;
    background-color: #ffffffc5;
    padding: 20px;
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}

.sidebar a:hover {
    font-size: 2.5rem;
    transition: 0.5s;
    color: #DC3473;
}

#menu-toggle {
    position: relative;
    top: -5px;
    right: 20px; 
    margin-left: 40px;
    padding: 10px;
    background-color: #ffffff00;
    color: white;
    border: none;
    cursor: pointer;
}


#menu-toggle span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.close-btn {
    position: absolute;
    top: 50px;
    right: 15px;
    background-color: transparent; 
    border: none;
    cursor: pointer;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

.close-btn:hover {
    color: #b6b6b6;
    transition: 1s;
}

.reg-res{
    display: none;
}
.auth-res{
    display: none;
}

/* Body */

body{
    margin: 0;
}

.news{
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    text-align: center;
    color: #DC3473;
    font-size: 1.75rem;
    margin-top: 2.5rem;
}

hr{
    width: 200px;
    align-items: center;
    height: 0.00125rem;
    background-color: #DC3473;
    border-color: #DC3473;
    margin-top: 0px;
}

/* Inline grid News */

.div-row{
    display: flex;
    font-family: "BPG Nateli Mtavruli", sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
}

.div-row img{
    width: 220px;
}

.div-row h1{
    font-size: 1.5rem;
    font-family: "BPG Nateli Mtavruli", sans-serif;
}


.price{
    margin-top: -10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.div-1{
    border: 1px solid rgba(206, 206, 206, 0);
    margin: 40px;
    box-shadow: 5px 5px 5px 0px;
    color: #726a6a;
    width: 250px;
}

.div-2{
    border: 1px solid rgba(206, 206, 206, 0);
    margin: 40px;
    box-shadow: 5px 5px 5px 0px;
    color: #726a6a;
    width: 250px;
}

.div-3{
    border: 1px solid rgba(206, 206, 206, 0);
    margin: 40px;
    box-shadow: 5px 5px 5px 0px;
    color: #726a6a;
    width: 250px;
}

.div-4 {
    border: 1px solid rgba(206, 206, 206, 0);
    margin: 40px;
    box-shadow: 5px 5px 5px 0px;
    color: #726a6a;
    width: 250px;
}

.div-5 {
    border: 1px solid rgba(206, 206, 206, 0);
    margin: 40px;
    box-shadow: 5px 5px 5px 0px;
    color: #726a6a;
    font-family: "BPG Nateli Mtavruli", sans-serif;
    width: 250px;
}


.div-6 {
    border: 1px solid rgba(206, 206, 206, 0);
    margin: 40px;
    box-shadow: 5px 5px 5px 0px;
    color: #726a6a;
    font-family: "BPG Nateli Mtavruli", sans-serif;
    width: 250px;   
}


.div-1:hover{
    cursor: pointer;
    color: #DC3473;
    transition: 1s;
}

.div-2:hover{
    cursor: pointer;
    color: #DC3473;
    transition: 1s;
}

.div-3:hover{
    cursor: pointer;
    color: #DC3473;
    transition: 1s;
}

.div-4:hover{
    cursor: pointer;
    color: #DC3473;
    transition: 1s;
}

.div-5:hover{
    cursor: pointer;
    color: #DC3473;
    transition: 1s;
}

.div-6:hover{
    cursor: pointer;
    color: #DC3473;
    transition: 1s;
}

.cart{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #DC3473;
    font-size: 1rem;
    font-style: italic;
    margin-top: -10px;
}

.cart:hover{
    transition: 1s;
    color: red;
}

a{
    color: black;
}




/* slider */

.slider-container {
    width: 100%; 
    overflow: hidden; 
}

.slider-track {
    display: flex;
    width: calc(30% * 6); 
    transition: transform 1.0s ease-in-out; 
}

.slide {
    width: calc(100% / 6); 
    text-align: center;
    background-color: #00000000;
    padding: 20px;
}


.slider-track.active {
    transform: translateX(-calc(100% / 6)); 
}


#prev-button, #next-button {
    border: 1px solid black;
    color: rgb(187, 187, 187);
    background-color: #252525   ;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 50px;
}

#prev-button:hover{
    color: black;
    background-color: rgb(187, 187, 187);
    transition: 1s;
}

#next-button:hover{
    color: black;
    background-color: rgb(187, 187, 187);
    transition: 1s;
}


#slider-button{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */

footer{
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    border: 1px solid #DC3473;
    background-color: #DC3473;
    color: white;
    height: 50px;
    bottom: 0;
    max-width: 100%;
}

.footer{
    padding-top: 0.1rem;
    text-align: center;
    font-size: 1.5rem;
}

