/* Header */

a{
    text-decoration: none;
}

.header{
    background-image: url("/slider.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    max-width: 100%;
    height: 100vh;
}

.list{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* Language */

.lang{
    width: 60px;
    margin-right: 10px;
    margin-top: 35px;
    height: 60px;
}

/* Logo */
.logo{
    width: 80px;
    height: auto;
    margin-top: 30px;

}

/* Reg-Auth */

.reg-auth{
    color: white;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    font-size: 1.75rem;
    height: 100px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.reg{
    color: white;
}

.auth{
    color: white;
    border: 2px solid #702323;
    border-radius: 25px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

/* Hamburger Menu */


.hamburger-button {
    background-color: transparent;
    padding: 15px;
    cursor: pointer;
    border: 0px solid white;
    margin-top: 35px;
 }


/* info */

.info{
    margin-left: 180px;
    margin-top: 120px;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}

.t-1{
    color: white;
    font-size: 50px;
}

.t-2{
    border: 1px solid white;
    color: #DC3473;
    background-color: white;
    border-radius: 50px;
    width: 350px;
    height: 50px;
    text-align: center;
    margin-top: -35px;
    padding-top: 20px;
}

/* Body */

body{
    margin: 0;
}

.news{
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    text-align: center;
    color: #DC3473;
    font-size: 1.75rem;
    margin-top: 2.5rem;
}

hr{
    width: 200px;
    align-items: center;
    height: 0.00125rem;
    background-color: #DC3473;
    border-color: #DC3473;
    margin-top: 0px;
}

/* Footer */

footer{
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    border: 1px solid #DC3473;
    background-color: #DC3473;
    color: white;
    height: 50px;
    width: 100%;
}

.footer{
    padding-top: 0.1rem;
    text-align: center;
    font-size: 1.5rem;
}

